.content {
	display: flex;
	margin: 0 auto;
	flex-wrap: wrap;
	padding: 120px 0 10px;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
	min-height: 100vh;
	z-index: 1;
	flex-direction: column;
	align-items: center;
	padding-left: 2rem;
	padding-right: 2rem;

	& > div {
		width: 100%;
	}
}

.App {
	position: fixed;
	top: 0;
	height: 100%;
	background-repeat: no-repeat;
	z-index: -1;
	width: 100%;
	box-sizing: border-box;
	background: #191c2d;
	// transparent linear-gradient(270deg, #f6e4e9 0%, #e8e0ec 100%) 0% 0% no-repeat padding-box;
}